/server/assets/fs/**.zip

/*.sdk.tar.xz

/CIPHERC2-server
/CIPHERC2-server.exe

/CIPHERC2-client
/CIPHERC2-client.exe

/.vscode/
/.vscode/*

/.github/
/.github/*

/build.py
/LICENSE
/SECURITY.md
/README.md
/CONTRIBUTING.md
